h1{
    height: 20px;
}

.inside-box{
    border-style: solid;
    border-color: #E9CBA7;
    outline: 20px solid #363636;
    border-width: 2px;
    margin-left: 500px;
}

td{
    width: 100px;
    height: 100px;
}

.w{
    background-color: #CA9E7B;
}

.b{
    background-color: #66462F;
}

.w.reverse{
    background-color: #66462F;
}

.b.reverse{
    background-color: #CA9E7B;
}